@import url("styles/font-faces/font-face-poppins.css");
@import url("styles/font-faces/font-face-koulen.css");
@import url("styles/variables/var-spacings.css");
@import "tailwindcss";

:root {
  --default-font-family: "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --body-font-family: var(--default-font-family);

  --default-side-padding: 0 var(--spacing-lg-x) 0 var(--spacing-lg-x);
  --default-side-margin: 0 var(--spacing-2xl) 0 var(--spacing-2xl);
  --default-margin-bottom: var(--spacing-lg-x);

  --bg-dark-opacity: 100%;
  --bg-dark: rgba(25, 25, 25, var(--bg-dark-opacity))
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
/** {*/
/*  margin: 0;*/
/*}*/

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-dark-200);
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  font-family: ;
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.side-padding {
  padding: var(--default-side-padding);
}

.side-margin {
  margin: var(--default-side-margin);
}

.margin-btw-element {
  margin-bottom: var(--default-margin-bottom);
}
